<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <title><%- title %></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
	<%- assets.css() %>
  </head>
  <body ng-app="loginDemoApp">
    <!--[if lt IE 7]>
      <p class="chromeframe">You are using an outdated browser. <a href="http://browsehappy.com/">Upgrade your browser today</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to better experience this site.</p>
    <![endif]-->

    <!--[if lt IE 9]>
      <script src="components/es5-shim/es5-shim.js"></script>
      <script src="components/json3/lib/json3.min.js"></script>
    <![endif]-->

    <!-- Add your site or application content here -->
  
<div class="main-view"
   ng-controller="MainCtrl"
   ng-class="{login:'main-view-loggedIn',
    employees:'main-view-employees',
    edit:'main-view-edit',
    create:'main-view-create'}[viewState.current]">
  <header>
    <div
      ng-show="authorized()"
      class="header-show-setup"
     >
      <p class="main-button" ng-click="logout()">Logout</p>
      <p id="greetings">Hello {{user.name}}</p>
    </div>
  </header>

  <div class="main-view-content"
     ng-class="{login:'main-view-content-loggedIn',
      employees:'main-view-content-employees',
      edit:'main-view-content-edit',
      create:'main-view-content-create'}[viewState.current]">
    <ng-view class="main-view-content-enter-setup"></ng-view>
  </div>
  <footer>
    <p>
      Built with <a href="http://angularjs.org/">AngularJS</a> and <a href="http://sailsjs.org/">SailsJS</a>.<br/>
    </p>

    <p>
      <a href="https://github.com/chiefy/sails-angular-yeoman-logindemo">Get source code</a> by
      <a href="http://www.beefdisciple.com">Chief</a>, ported from <a href="http://cafetownsend-angular-rails.herokuapp.com/">Jens Krause's CafeTownsend Demo</a>
    </p>
  </footer>
  </div>
    <script src="components/angular/angular.js"></script>
    <script src="components/angular-resource/angular-resource.js"></script>
    <script src="components/angular-cookies/angular-cookies.js"></script>
    <script src="components/angular-sanitize/angular-sanitize.js"></script>

    <!-- build:js scripts/scripts.js -->
    <script src="scripts/app.js"></script>
    <script src="scripts/services/sessionService.js"></script>
    <script src="scripts/controllers/loginCtrl.js"></script>
    <script src="scripts/controllers/mainCtrl.js"></script>
    <!-- endbuild -->

	<!-- Templates from your view path are included here -->
	<%- assets.templateLibrary() %>
  </body>
</html>
